<!DOCTYPE html>
<html>
  <head>
    <title>Prisma</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="PersonalizacaoNotificacoes.css" />
    
  </head>


  <body>

    <div class="container">
      <div class="navbar"> 
            <div>
                <img src="imagens/logoprisma2.png" width="200px">
            </div>
            <nav>
              <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">mensagens</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href=""><img src="imagens/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
    
    
 
        </div>
      </div>
    
      <div class="topo">
        <button type="button" class="btn btn-outline-primary">PS</button>
        <button type="button" class="btn btn-outline-primary">Mensagens</button>
        <button type="button" class="btn btn-outline-primary">Monitoria</button>
        
        <div class="input-group input-group-sm busca">
          <input type="search" class="form-control" placeholder="Pesquisar no Prisma..." aria-label="Pesquisar" />
          <button type="button" class="btn btn-outline-primary" aria-label="Buscar">
          <i class="bi bi-search"></i>
          </button>
        </div>

      </div>

      <div class="blocoprincipal">
 
        <a href="" class="caixa">
          <img src="imagens/EmpresaJuniorPefil.png" class="avatar" />

          <div>

            <strong>Empresa Junior</strong><br />
            <small>Estamos com o processo seletivo aberto</small>

          </div>

        </a>
 
        <a href="" class="caixa">
          <img src="imagens/RioBotzPefil.png" class="avatar" />

          <div>
            
            <strong>Rio Botz</strong><br />
            <small>Parabéns você foi aprovador no processo seletivo</small>

          </div>
        </a>
 
        <a href="" class="caixa">
          <img src="imagens/DepartamentoInformatica.png" class="avatar" />

          <div>

            <strong>Departamento de Informatica</strong><br />
            <small>A monitoria no LABGRAD vai ser às 15 hoje</small>

          </div>
        </a>
 
      
 
      </div>    

    

  </body>
</html>

