/*=======================================Caracteristicas padroes da pagina=======================================*/

body{
    background-color: #faebd7;
    font-family: 'poppins', sans-serif;
}

/*=======================================Classes do navegador=======================================*/

.navbar{
    display: flex;
    align-items: right;
    padding: 20px;
    border-bottom: 1px solid #A9A9A9; 
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(170, 57, 16);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*=====================================ajuste de posicao do bloco de mensagens==========================================*/

.blocoprincipal{
    max-width: 600px;      
    margin: 30px auto;        
    display: flex;
    flex-direction: column;
    gap: 12px;                
}

/*======================================ajuste de encaixe de cada conversa=========================================*/
 
.caixa{
    color: #000;
    display: flex;
    align-items: center;
    border-radius: 15px;
    gap: 14px;
    padding: 12px 16px;
    background-color: #fff;
    border: 1px #A9A9A9;
}


/*===========================================ajustes da foto de cada mensagem=====================================================================*/


 
.avatar{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}
 
