/*=======================================Caracteristicas padroes da pagina=======================================*/

body{
    background-color: #faebd7;
    font-family: 'poppins', sans-serif;
}

/*=======================================Classes do navegador=======================================*/

.navbar{
    display: flex;
    align-items: right;
    padding: 20px;
    border-bottom: 1px solid #A9A9A9; 
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
}

a{
    text-decoration: none;
    color: rgb(170, 57, 16);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/*=========================================Caixa principal da conversa======================================*/

.blocoprincipal{     
    margin: 30px auto;        
    display: flex;
    justify-content: center;           
}

.caixa{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 650px;
    border-radius: 15px;
    padding: 12px 16px; 
    background-color: #fff;
    border: 1px #A9A9A9;
}

/*========================================Barra de envio da mensagem=========================================*/

.area_interacao{
    border-top: 1px solid #A9A9A9;
    padding: 15px;
    position: absolute;
    bottom: 12px;
    left: 16px;
    right: 16px;
}

/*===========================================Elementos do cabeçalho da mensagem=================================================================*/

.perfil{
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #A9A9A9; 
    padding-left: 10px;
    padding-right: 10px;
}

.avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

/*===========================================Elementos da mensagem=================================================================*/

.mensagem{
    color: white;
    margin-top: 20px;
    gap: 10px;
    width: 300px;
    height: 70px;
    align-items: center;
    justify-content: left;
    border-radius: 15px;
    padding: 12px 16px;
    background-color: rgb(170, 57, 16);
    border: 1px #000000;
}

.textomensagem{
    font-size: 12px;
}