<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Prisma</title>
<link href="../static/css/cadastro.css" rel="stylesheet" type="text/css"/>
</head>
<body>
 

<main class="screen" id="cadastro">
  <section class="card">
    <button class="back" data-go="login" aria-label="Voltar"><svg width="26" height="26"><use href=""/></svg></button>
    <img class="logo" src="../static/img/logoprisma2.png" alt="Prisma">
    <h1>Cadastro</h1>
    <div class="options">
      <a class="option" href="cadastro-aluno.html">
    <svg width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round"><circle cx="12" cy="8" r="4"/><path d="M4 21c0-4.4 3.6-7 8-7s8 2.6 8 7"/></svg>
    Aluno
      </a>
    <a class="option" href="cadastro-organizacao.html">
    <svg width="26" height="26" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"><rect x="4" y="3" width="16" height="18" rx="3"/><path d="M8 8h.01M12 8h.01M16 8h.01M8 12h.01M12 12h.01M16 12h.01M8 16h.01M12 16h.01M16 16h.01"/></svg>
    Organização
  </a>
</div>
  </section>
</main>
 
