<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Prisma - Perfil</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/css-perfil.css">
</head>
<body>


    <div class="conteudo">
        <a href="../templates/tela_homepage.html" class="voltar">&lt;</a>

        <div class="centro">
            <div class="avatar">B</div>
            <h2 class="nome">Beatriz Lima</h2>
            <p class="curso">Engenharia de Computação · 5º período</p>

            <a href="editar-perfil.html" class="botao-editar">Editar perfil</a>
        </div>

        <div class="grade-cards">
    <a href="../templates/tela_salvos.html" class="card">
        <span class="icone-card">&#9873;</span>
        <p>Salvos</p>
    </a>
    <a href="../templates/tela_candidaturas.html" class="card">
        <span class="icone-card">&#9776;</span>
        <p>Candidaturas</p>
    </a>
    <a href="../templates/tela_prazos.html" class="card">
        <span class="icone-card">&#9783;</span>
        <p>Prazos</p>
    </a>
    <a href="../templates/tela_realizados.html" class="card">
        <span class="icone-card">&#10003;</span>
        <p>Realizados</p>
    </a>
</div>

        <a href="" class="sair-centro">Sair da conta</a>
    </div>

</body>
</html>
