<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_candidaturas.css">

</head>
<body>

<div class="container">
        <div class="navbar"> 
            <div class="logo">
                <img src="../static/img/logo.svg" width="100px">
                <span class="color">Prisma</span>
            </div>
            <nav>
              <ul>
                <li><a href="../templates/tela_homepage.html">Inicio</a></li>
                <li><a href="../templates/tela_conversas.html">mensagens</a></li>
                <li><a href="../templates/tela_notificações.html">Notificações</a></li>
                <li><a href="../templates/perfil.html"><img src="../static/img/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
        </div>

<div class="conteudo">
    
    <h2 class="color">Candidaturas</h2>
    
    <div class = "caixa">
        <p>Beatriz Lima</p>
        <span>Estudante de Engenharia de Software</span>
        <a href="#" class="link-sair">Sair da conta</a>
    </div>

    <div id="abas">
        <a href="#" class="color">Todos</a> 
        <a href="#" class="link-abas">Em análise</a>
        <span class="link-abas">Finalizados</span>
        <a href="#" class="link-abas">Arquivados</a>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/beta.png">
            <div class="caixa-texto">
                <h3 class="color">Estágio em Engenharia de Produção</h3>
            </div>
        </div>
        <span>Beta Consultoria</span>
        <span> Enviada em 28/08/2024 </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/dei.png">
            <div class="caixa-texto">
                <h3 class="color">Monitoria de Introdução à Engenharia</h3>
            </div>
        </div>
        <span>Departamento de Produção</span>
        <span> Enviada em 25/08/2024 </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/lab.webp">
            <div class="caixa-texto">
                <h3 class="color">Projeto de Pesquisa em Gestão de Projetos</h3>
            </div>
        </div>
        <span>Laboratório de Engenharia de Produção</span>
        <span> Enviada em 20/08/2024 </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/cc.png">
            <div class="caixa-texto">
                <h3 class="color">Processo Seletivo - Consulting Club</h3>
            </div>
        </div>
        <span>Consulting Club</span>
        <span> Enviada em 15/06/2024 </span>
    </div>
    
    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/delta.png">
            <div class="caixa-texto">
                <h3 class="color">Estágio em Logística</h3>
            </div>
        </div>
        <span>Delta Consulting</span>
        <span> Enviada em 10/08/2024 </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/fis.png">
            <div class="caixa-texto">
                <h3 class="color">Monitoria de Física 1</h3>
            </div>
        </div>
        <span>Departamento de Física</span>
        <span> Enviada em 05/08/2024 </span>
    </div>
</div>

</body>

</html>