<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_prazos.css">

</head>
<body>

<div class="container">
        <div class="navbar"> 
            <div class="logo">
                <img src="../static/img/logo.svg" width="100px">
                <span class="color">Prisma</span>
            </div>
            <nav>
              <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="PrismaMensagens.html">Mensagens</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href=""><img src="../static/img/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
        </div>
</div>

<div class="conteudo">
    
    <h2 class="color">Prazos</h2>
    

    <div id="abas">
        <a href="#" class="color">Todos</a> 
        <a href="#" class="link-abas">Estágios</a>
        <span class="link-abas">Monitorias</span>
        <a href="#" class="link-abas">Pesquisa</a>
        <a href="#" class="link-abas">Extensão</a>
    </div>

    <span class="datas">Hoje, 4 de setembro</span>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/mat.png">
            <div class="caixa-texto">
                <h3 class="color">Monitoria de Cálculo 2</h3>
            </div>
        </div>
        <span>Departamento de Matemática</span>
        <span>Rio de Janeiro - Presencial</span>
        <span> Bolsa: R$600/mês </span>
    </div>

    <span class="datas">Amanhã, 5 de setembro</span>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/alfa.png">
            <div class="caixa-texto">
                <h3 class="color">Estágio em Engenharia de Produção</h3>
            </div>
        </div>
        <span>Empresa Alfa</span>
        <span>Rio de Janeiro - Híbrido</span>
        <span> Bolsa: R$1.800/mês - 6h/dia </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/lab.webp">
            <div class="caixa-texto">
                <h3 class="color">Iniciação Científica - CNPq</h3>
            </div>
        </div>
        <span>Laboratório de Produção</span>
        <span>Rio de Janeiro - Presencial</span>
        <span> Bolsa: R$1.200/mês </span>
    </div>

    <span class="datas">7 de setembro</span>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/cc.png">
            <div class="caixa-texto">
                <h3 class="color">Processo Seletivo - Consulting Club</h3>
            </div>
        </div>
        <span>Consulting Club</span>
        <span>Rio de Janeiro - Presencial</span>
        <span> Sem Bolsa </span>
    </div>

    <span class="datas">10 de setembro</span>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/fis.png">
            <div class="caixa-texto">
                <h3 class="color">Monitoria de Física 1</h3>
            </div>
        </div>
        <span>Departamento de Física</span>
        <span>Rio de Janeiro - Presencial</span>
        <span> Bolsa: R$500/mês </span>
    </div>

</div>

</body>
</html>