<!DOCTYPE html>
<html>
  <head>
    <title>Prisma</title> 
    <link rel="stylesheet" href="PersonalizacaoMensagens.css" />
    
  </head>


  <body>

    <div class="container">
      <div class="navbar"> 
            <div>
                <img src="imagens/logoprisma2.png" width="200px">
            </div>
            <nav>
              <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">mensagens</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href=""><img src="imagens/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
    
    
 
        </div>
      </div>

    <div class="blocoprincipal">
 
        <h4>Conversas</h4>
      
 
        <a href="" class="caixa">
          <img src="imagens/EmpresaJuniorPefil.png" class="avatar" />

          <div>

            <strong>Empresa Junior</strong><br />
            <small>Você tem disponibilidade para uma conversa na quinta às 17h?</small>

          </div>

        </a>
 
        <a href="" class="caixa">
          <img src="imagens/perfil.png" class="avatar" />

          <div>

            <strong>Marina Alves</strong><br />
            <small>Oi, vi que você se interessou pela Empresa Junior!</small>

          </div>

        </a>
 
        <a href="" class="caixa">
          <img src="imagens/RioBotzPefil.png" class="avatar" />

          <div>
            
            <strong>Rio Botz</strong><br />
            <small>Obrigado por seguir a Rio Botz!</small>

          </div>
        </a>
 
        <a href="" class="caixa">
          <img src="imagens/perfil.png" class="avatar" />

          <div>

            <strong>Henrique Pires</strong><br />
            <small>A liga de mercado financeiro é a melhor experiência que eu ja tive</small>

          </div>
        </a>
 
        <a href="" class="caixa">
          <img src="imagens/perfil.png" class="avatar" />

          <div>

            <strong>João Pedro</strong><br />
            <small>Confirmado! 16:30 na sala 204L</small>

          </div>
        </a>
 
        <a href="" class="caixa">
          <img src="imagens/TecGrafPefil.png" class="avatar" />

          <div>

            <strong>TecGraf</strong><br />
            <small>Recebemos sua mensagem. Retornaremos em breve</small>

          </div>
        </a>
 
      </div>    

      




  </body>
</html>

