<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_perfil.css">

</head>
<body>

<div class="container">
        <div class="navbar"> 
            <div class="logo">
                <img src="../static/img/logo.svg" width="100px">
                <span class="color">Prisma</span>
            </div>
            <nav>
              <ul>
                <li><a href="../templates/tela_homepage.html">Inicio</a></li>
                <li><a href="../templates/tela_conversas.html">mensagens</a></li>
                <li><a href="../templates/tela_notificações.html">Notificações</a></li>
                <li><a href="../templates/perfil.html"><img src="../static/img/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
        </div>

<div class="conteudo">
    <div class ="perfil">
        <div class="foto_perfil">
            <img src="../static/img/perfil.png" width="150px">
        </div>
        <div class="info_perfil">
            <h2>Beatriz Lima</h2>
            <span>Engenheira de Computação - 5º período</span>
            <a href="#"><button class="editar_perfil">Editar Perfil</button></a>
        </div>
    </div>

    <div class="caixa">
        <h3><a href="#">Salvos</a></h3>
    </div>

    <div class="caixa">
        <h3><a href="#">Prazos</a></h3>
    </div>

    <div class="caixa">
        <h3><a href="#">Candidaturas</a></h3>
    </div>

    <div class="caixa">
        <h3><a href="#">Realizados</a></h3>
    </div>

    <div>
        <a href="#" class="link-sair">Sair da conta</a>
    </div>
        
</div>

</body>

</html>