<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title> 
    <link rel="stylesheet" href="../static/css/entrar-cadastrar.css">
</head>
<body>
    <div class="caixa">
        <img src="../static/img/logoprisma2.png" alt="Logo Prisma" width="100px">
        <h1>Prisma</h1>
        <p>Ambiente de oportunidades online</p>
        <a href="../templates/tela_login.html" class="entrar">Entrar</a>
        <a href="../templates/escolhe-cadastro.html" class="cadastrar">Cadastrar-se</a>
    </div>
</body>
</html>

