<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_salvos.css">

</head>
<body>
  
<div class="container">
        <div class="navbar"> 
            <div class="logo">
                <img src="../static/img/logo.svg" width="100px">
                <span class="color">Prisma</span>
            </div>
            <nav>
              <ul>
                <li><a href="../templates/tela_homepage.html">Inicio</a></li>
                <li><a href="../templates/tela_conversas.html">mensagens</a></li>
                <li><a href="../templates/tela_notificações.html">Notificações</a></li>
                <li><a href="../templates/perfil.html"><img src="../static/img/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
        </div>

<div class="conteudo">

    <div class = "caixa">
        <p>Beatriz Lima</p>
        <span>Estudante de Engenharia de Software</span>
        <a href="" class="link-sair">Sair da conta</a>
    </div>

    <h2 class="color">Salvos</h2>

    <div id="abas">
        <span class="link-abas">Salvos</span> 
        <a href="../templates/tela_prazos.html" class="link-abas">Prazos</a>
        <a href="../templates/tela_candidaturas.html" class="link-abas">Candidaturas</a>
        <a href="{% url 'realizados' %}" class="link-abas">Realizados</a>
    </div>

    <div class="caixa">
        <h3 class="color">Estágio - Eng. Produção</h3>
        <span>Empresa Alfa - Rio de Janeiro</span>
        <span> 5 dias </span>
    </div>

    <div class ="caixa">
        <h3 class="color">Monitoria de Cálculo</h3>
        <span>PUC-Rio</span>
        <span> 3 dias </span>
    </div>

    <div class="caixa">
        <h3 class="color">IC em Visão Computacional</h3>
        <span>Depto. de Informática</span>
        <span> 12 dias </span>
    </div>

    <div class="caixa">
        <h3 class="color">Processo seletivo</h3>
        <span>Empresa Júnior</span>
        <span> Encerrada </span>
    </div>

    <div class="caixa">
        <h3 class="color">Monitoria — Física I</h3>
        <span>Depto. Física</span>
        <span> Encerrada </span>
    </div>


</body>
</html>


