<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_realizados.css">

</head>
<body>

<div class="container">
        <div class="navbar"> 
            <div class="logo">
                <img src="../static/img/logo.svg" width="100px">
                <span class="color">Prisma</span>
            </div>
            <nav>
              <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="PrismaMensagens.html">Mensagens</a></li>
                <li><a href="">Notificações</a></li>
                <li><a href=""><img src="../static/img/perfil.png" width="30px"></a></li>
              </ul>
            </nav>
        </div>

<div class="conteudo">

     <span id="subtitulo" class="datas">Seu histórico de oportunidades concluídas. Deixe um feedback para ajudar outros alunos.</span>

     <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/mat.png">
            <div class="caixa-texto">
                <h3 class="color">Monitoria de Cálculo 1</h3>
            </div>
        </div>
        <span>PUC-Rio - Depto. de Matemática</span>
        <span><a href=""> Realizado em 2025.2</a></span>
        <span class="link-abas"> Deixar um Feedback </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/inf.png">
            <div class="caixa-texto">
                <h3 class="color">IC em Visão Computacional</h3>
            </div>
        </div>
        <span>Depto. de Informática</span>
        <span><a href=""> Realizado em 2025.1</a></span>
        <span class="link-abas"> Deixar um Feedback </span>
    </div>

    <div class ="caixa">
        <div class="logo-caixa">
            <img src="../static/img/ej.png">
            <div class="caixa-texto">
                <h3 class="color">Empresa Júnior</h3>
            </div>
        </div>
        <span>Trainee de desenvolvimento</span>
        <span><a href=""> Realizado em 2024.2</a></span>
        <span class="link-abas"> Deixar um Feedback </span>
    </div>

</div>

</body>

</html>