<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prisma</title>
    <link rel="stylesheet" href="../static/css/tela_salvos.css">

</head>
<body>
  
<div id="menu">
    <img src="../static/img/logo.svg"width="40" height="40">
    <a href="#">Prisma </a>
    <a href="#">Início</a>
    <a href="#">Pesquisar</a>
    <a href="#">Filtros</a>
    <a href="#">Conversas</a>
    <a href="#">Notificações</a>
    <a href="#">Oportunidades</a>
    <a href="#">Perfil</a>
</div>

<div id="usuario">
    <p>Beatriz Lima</p>
    <span>Estudante de Engenharia de Software</span>
    <a href="#">Sair da conta</a>
</div>

<h2>Salvos</h2>

<div id="abas">
    <span id="aba_atual">Salvos</span> 
    <a href="#">Prazos</a>
    <a href="#">Candidaturas</a>
    <a href="#">Realizados</a>
</div>

<div id="oportunidade">
    <h3>Estágio - Eng. Produção</h3>
    <p>Empresa Alfa - Rio de Janeiro<p>
    <span> 5 dias </span>
</div>

<div id="oportunidade">
    <h3>Monitoria de Cálculo</h3>
    <p>PUC-Rio<p>
    <span> 3 dias </span>
</div>

<div id="oportunidade">
    <h3>IC em Visão Computacional</h3>
    <p>Depto. de Informática<p>
    <span> 12 dias </span>
</div>

<div id="oportunidade">
    <h3>Processo seletivo</h3>
    <p>Empresa Júnior<p>
    <span> Encerrada </span>
</div>

<div id="oportunidade">
    <h3>Monitoria — Física I</h3>
    <p>Depto. Física<p>
    <span> Encerrada </span>
</div>


</body>
</html>


